<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
    <head>
        <title>BRAZUCA GAMES | Sobre</title>
        <link href="../../public/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary JavaScript plugins) -->
        <script src="../../public/js/bootstrap.js"></script>
        <!-- Custom Theme files -->
        <link href="../../public/css/style.css" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <link rel="icon" type="imagem/jpg" href="../../public/images/icone.jpg" />
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Game Box  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

        <script src="../../public/js/jquery.min.js"></script>

    </head>
    <body>
        <!-- header -->
        <div class="header">
            <div class="container">
                <div class="headr-left">
                    <div class="social">							
                        <a href="#"><i class="facebook"></i></a>
                        <a href="#"><i class="twitter"></i></a>
                        <a href="#"><i class="gplus"></i></a>	
                        <a href="#"><i class="pin"></i></a>	
                        <a href="#"><i class="youtube"></i></a>	
                    </div>
                    <div class="search">
                        <form>
                            <input type="submit" value="">
                            <input type="text" value="" placeholder="Search...">					 
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="headr-right">
                    <div class="details">
                        <ul>
                             <li><a href="suporte@brgames.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>suporte@brgames.com</a></li>
                                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> + 55 38 9 9862 5437  </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--banner-info-->	
        <div class="banner-info">
            <div class="container">
                <div class="logo">
                    <h1><a href="../../public/index.html">BRAZUCA GAMES</a></h1>
                </div>
                <div class="top-menu">
                    <span class="menu"></span>
                    <ul class="nav1">
                        <li class="active"><a href="../../public/index.html">Home</a></li>
                        <li><a href="#">Loja</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="#">Suporte</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="cadastrar.html">Cadastro</a></li>
                    </ul>
                </div>	
                <!-- script-for-menu -->
                <script>
                    $("span.menu").click(function () {
                        $("ul.nav1").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- /script-for-menu -->		 
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- banner -->
        <div class="banner">		  			
            <div class="bnr2">						  
            </div>			 
        </div>
        <!-- About -->
        <div class="about">
            <div class="container">
                <h2>Sobre</h2>
                <div class="about-info-grids">
                    <div class="col-md-5 abt-pic">
                        <img src="../../public/images/tom_clancys_rainbow_six_siege_team_weapons_equipment_109248_2048x1152.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-7 abt-info-pic">
                        <h3>BEM-VINDO AO BRAZURA GAMES.</h3>
                        <p>A plataforma de entretenimento, onde você joga, conversa, se diverte e muito mais.</p>
                        <ul>
                            <li>Acesso Imediato a Jogos.</li>
                            <li>Entretenimento em qualquer plataforma.</li>
                            <li>Compartilhando conteúdos</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="team">
                    <h3>Nosso Time</h3>	  
                    <div class="grid_4">
                        <div class="team-grid">
                            <img src="../../public/images/FB_IMG_1505015100134.jpg" alt="">
                            <h4>Adriane de Souza.</h4>
                            <p>Programadora. </p>
                        </div>
                    </div>
                    <div class="grid_4">
                        <div class="team-grid">
                            <img src="../../public/images/FB_IMG_1505015100134.jpg" alt="">
                            <h4>Adriane de Souza.</h4>
                            <p>Designer. </p>
                        </div>
                    </div>
                    <div class="grid_4 span66">
                        <div class="team-grid">
                            <img src="../../public/images/FB_IMG_1505015100134.jpg" alt="">
                            <h4>Adriane de Souza.</h4>
                            <p>Gerente. </p>
                        </div>
                    </div>      
                    <div class="clearfix"></div> 
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 ftr-info">
                        <h3>Sobre Nós</h3>
                        <p>A plataforma definitiva de entretenimento para jogar e conversar.</p>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Categorias</h3>
                        <ul class="ftr-list">
                            <li><a href="#">Ação</a></li>
                            <li><a href="#">Corrida</a></li>
                            <li><a href="#">Aventura</a></li>
                            <li><a href="#">Realidade Virtual</a></li>
                            <li><a href="#">Estratégia</a></li>
                        </ul>				 
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Plataformas</h3>
                        <ul class="ftr-list">
                            <li><a href="#">Pc</a></li>
                            <li><a href="#">Ps4</a></li>
                            <li><a href="#">XBOX 360</a></li>					 
                            <li><a href="#">XBOX ONE</a></li>
                            <li><a href="#">PSP</a></li>
                        </ul>				 
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Informações</h3>
                        <ul class="ftr-list">	
                            <li><a href="contato.html">Contato</a></li>
                            <li><a href="#">Mapa Do Site</a></li>
                            <li><a href="#">Termos e Condições</a></li>					 
                        </ul>				 
                    </div>		
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!---->
        <div class="copywrite">
            <div class="container">
                <p> © 2018 Brazuca Games. All rights reserved | Design by Adriane</p>
            </div>
        </div>
        <!---->



    </body>
</html>